.hidden {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
}
img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
#clock {
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
  font-size: 60px;
}
#login-form {
  display: flex;

  justify-content: center;
  height: 40px;
}
#weather {
  display: flex;
  justify-content: right;
  font-size: 30px;
  font-weight: 600;
  color: white;
}
